<!--The content below is only a placeholder and can be replaced.-->
<div class="outer-wrapper">
  <div class="map-wrapper" #wrapper>
    <agm-map
      [latitude]="lat"
      [longitude]="lng"
      [zoom]="zoom"
      [disableDefaultUI]="false"
      [zoomControl]="false"
      [mapTypeId]="'satellite'"
      #AgmMap>
      <agm-polygon
        *ngIf="dangerZone"
        [paths]="dangerZone.points"
        [strokeColor]="'#ff8c00'"
        [strokeWeight]="3"
        [fillColor]="'#ff8c00ee'"
        (polyClick)="polyClicked()">
      </agm-polygon>

      <agm-info-window *ngIf="dangerZone" [isOpen]="polygonInfoShown" [latitude]="50.161785" [longitude]="-120.136131">
        <h4>{{dangerZone.title}}</h4>
        <p>{{dangerZone.description}}</p>
      </agm-info-window>
      <agm-marker
        *ngFor="let m of markers; let i = index"
        [latitude]="m.lat"
        [longitude]="m.lng"
        [markerDraggable]="false"
        [iconUrl]="m.statusLevel === 2 ? 'assets/' + m.type + '_warning.png' :
          m.statusLevel === 3 ? 'assets/' + m.type + '_problem.png' :
          'assets/' + m.type + '.png'"
        [zIndex]="m.statusLevel > 1 ? 2 : 1">

          <!--  Cows  -->
          <agm-snazzy-info-window
          *ngIf="m.type === 'cow'"
          [maxWidth]="400"
          [maxHeight]="500"
          [closeWhenOthersOpen]="true"
          [shadow]="true"
          [isOpen]="isInfoWindowOpened(m)"
          (afterClose)="this.forceOpenedMarkerId === m.id ? this.forceOpenedMarkerId = null : null"
        >  <ng-template>
          <div style="width: 230px;">
            <h2 style="margin-top:0;">Cow #{{m.id}}</h2>
            <div>
              <img [src]="m.photo" height="150" />
              <div style="font-size: 16px;">{{m.fullName}}</div>
            </div>
            <div class="clearfix">
              <div class="params-wrapper" style="float:left;width:220px;height:80px;">
                <div class="param-label">STATUS:</div><div>{{m.status || 'Updating'}}</div>
                <div class="param-label">Temp:</div><div>{{m.temperature || '-'}} °C</div>
                <div class="param-label">Heart Rate</div><div>{{m.heartRate || '-'}} ♥</div>
                <div class="param-label">BP:</div><div>{{m.systolicBloodPressure || '-'}}/{{m.diastolicBloodPressure || '-'}}</div>
              </div>
            </div>
            <div *ngIf="m.affects.length" class="params-wrapper">
              <h2 style="color: #f00; margin-top:10px;margin-bottom:10px">Alerts:</h2>
              <ul>
                <li *ngFor="let affect of m.affects">{{affect.description}}</li>
              </ul>
            </div>
          </div>
        </ng-template>
        </agm-snazzy-info-window>

          <!--  Watter point  -->
          <agm-snazzy-info-window
            *ngIf="m.type === 'waterpoint'"
            [maxWidth]="400"
            [maxHeight]="500"
            [closeWhenOthersOpen]="true"
            [shadow]="true"
            [isOpen]="isInfoWindowOpened(m)"
            (afterClose)="this.forceOpenedMarkerId === m.id ? this.forceOpenedMarkerId = null : null"
          >  <ng-template>
            <div style="width: 200px;">
              <h2 style="margin-top:0;">Water Point #{{m.id}}</h2>
              <div>
                <img [src]="m.waterPoint.photo" height="150" />
                <div style="font-size: 16px;">{{m.waterPoint.fullName}}</div>
              </div>
              <div class="clearfix">
                <div class="params-wrapper" style="float:left;width:200px;height:40px;">
                  <div class="param-label">STATUS:</div><div [ngClass]="m.status">{{m.status}}</div>
                </div>
              </div>
              <div *ngIf="m.affects.length" class="params-wrapper">
                <h2 style="color: #f00; margin-top:10px;margin-bottom:10px">Alerts:</h2>
                <ul>
                  <li *ngFor="let affect of m.affects">{{affect.description}}</li>
                </ul>
              </div>
            </div>
          </ng-template>
          </agm-snazzy-info-window>
      </agm-marker>
    </agm-map>
  </div>
</div>
