<!--The content below is only a placeholder and can be replaced.-->
<div class="outer-wrapper">
  <div class="map-wrapper" #wrapper>
    <agm-map
      [latitude]="lat"
      [longitude]="lng"
      [zoom]="zoom"
      [disableDefaultUI]="false"
      [zoomControl]="false"
      [mapTypeId]="'satellite'"
      #AgmMap>
      <agm-polygon
        *ngIf="dangerZone"
        [paths]="dangerZone.points"
        [strokeColor]="'#ff8c00'"
        [strokeWeight]="3"
        [fillColor]="'#ff8c00ee'"
        (polyClick)="polyClicked()"
      ></agm-polygon>
      <agm-info-window [isOpen]="polygonInfoShown" [latitude]="-22.335981" [longitude]="119.388793">
        <h4>{{dangerZone.title}}</h4>
        <p>{{dangerZone.description}}</p>
      </agm-info-window>
      <agm-marker
        *ngFor="let m of markers; let i = index"
        [latitude]="m.lat"
        [longitude]="m.lng"
        [markerDraggable]="m.draggable"
        [iconUrl]="m.driverStatus === 'TIRED' ? 'assets/dump_truck_tired.png' : m.affects.length ? 'assets/dump_truck_problem.png' : 'assets/dump_truck.png'"
        [zIndex]="m.affects.length ? 2 : 1">
        <agm-snazzy-info-window
          [maxWidth]="400"
          [maxHeight]="500"
          [closeWhenOthersOpen]="true"
          [shadow]="true"
          [isOpen]="isInfoWindowOpened(m)"
          (afterClose)="this.forceOpenedMarkerId === m.id ? this.forceOpenedMarkerId = null : null"
        >
          <ng-template>
            <div style="width: 400px;">
              <h2 style="margin-top:0;">Shift # 1 | Engine #{{m.id}}</h2>
              <div style="float:left;width: 170px;">
                <img [src]="m.image" height="150"/>
                <div style="font-size: 16px;">{{m.label}}</div>
              </div>
              <div>
                <img [src]="m.driver.photo" height="150" />
                <div style="font-size: 16px;">{{m.driver.fullName}}</div>
              </div>
              <div class="clearfix">
                <div class="params-wrapper" style="float:left;width:160px;height:60px;">
                  <div class="param-label">STATUS:</div><div [ngClass]="m.carStatus">{{m.carStatus}}</div>
                  <div class="param-label">Fuel:</div><div>{{100 * m.fuelAmount / m.fuelTankCapacity | number: '0.0-0' }}%</div>
                  <div class="param-label">Coolant temp:</div><div>{{m.coolantTemp}} °F</div>
                  <div class="param-label">Power Output:</div><div>{{m.powerOutput}} KW</div>
                </div>
                <div class="params-wrapper">
                  <div class="param-label">STATUS:</div><div [ngClass]="m.driverStatus">{{m.driverStatus}}</div>
                  <div class="param-label">Temp:</div><div>{{m.driverTemperature}} °C</div>
                  <div class="param-label">Heart Rate</div><div>{{m.driverHeartRate}} ♥</div>
                  <div class="param-label">BP:</div><div>{{m.driverBloodPressure1}}/{{m.driverBloodPressure2}}</div>
                  <div class="param-label">Shift:</div><div>{{Math.floor(m.driverShiftLength/(1000 * 60 * 60))}}:{{Math.floor(m.driverShiftLength%(1000 * 60 * 60) / 60e3) | number: '2.0-0'}}</div>
                </div>
                </div>
              <div *ngIf="m.affects.length" class="params-wrapper">
                <h2 style="color: #f00; margin-top:10px;margin-bottom:10px">Alerts:</h2>
                <ul>
                  <li *ngFor="let affect of m.affects">{{affect.description}}</li>
                </ul>
              </div>
            </div>
          </ng-template>
        </agm-snazzy-info-window>
      </agm-marker>
    </agm-map>
    <div style="position: absolute; top:5%; left:50%;">{{forceOpenedMarkerId}}</div>
  </div>
</div>
