/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
}

.si-frame.si-content-wrapper {
  padding-top: 20px;
}

.params-wrapper {
  padding-top: 10px;
  margin-top: 20px;
  border-top: 1px solid #ccc;
}

.param-label {
  float: left;
  font-weight: bold;
  width: 120px;
  text-align: right;
  padding-right: 10px;
}

.clearfix {
  overflow: auto;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.WARNING,
.OVERLOADED {
  color: darkorange;
}

.CRITICAL,
.DOWN {
  color: red;
}

.NORMAL {
  color: #a1a6a6;
}

.TIRED {
  color: rgba(191, 129, 0, 0.73);
}

div[style*="background-image: url(\"assets/smallCellCluster1.png\");"],
div[style*="background-image: url(\"assets/smallCellCluster2.png\");"],
div[style*="background-image: url(\"assets/smallCellCluster3.png\");"] {
  background-repeat: no-repeat;
  color: #00000000 !important;
  font-size: 24px !important;
  font-weight: normal !important;
}

.si-content {
  display: table;
}
